@model IEnumerable<Autopark_Web_Version.Models.Models.VOrderDetails>
@{
    ViewData["Title"] = "Order Details";
}
<table class="table table-sm">
    <thead>
        <tr>
            <th scope="col">Detail Name</th>
            <th scope="col">Quantity</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <th>
                @item.DetailName
            </th>

            <th>
                @item.Quantity
            </th>
        </tr>
            
        }
    </tbody>
</table>
<div> 

    <div>
        <a asp-controller="Orders" asp-action="Index">Back</a>
    </div>
</div>